$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: initial;
  font-size: 1.5em;
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.7em;
}

.jumbotron {
  background-image: url("rorbackground.jpg");
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
}

.jumbotron .sign-up-now-btn {
  text-align: center;
}

.description {
  text-align: center;
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.article-body {
  border-top: 1px solid #eaeaea;
  font-size: 1.3em;
  padding: 15px 0;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

.footer small {
  float: left;
}

.footer nav {
  float: right;
}

.footer nav ul {
  float: left;
  list-style-type: none;
}

.footer nav ul li {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
}